<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <form id="new-cupcake">
      <label>Flavor: <input type="text" name="flavor" id="flavor"> </label>
      <label>Size: <input type="text" name="size" id="size"/> </label>
      <label>Rating: <input type="text" name="rating" id="rating"/> </label>
      <label>Image Url: <input type="text" name="image-url" id="image-url"/> </label>
      <button type="submit">Submit</button>
    </form>

    <ul id="cupcakes">
    </ul>

  <script src="static/script.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="https://unpkg.com/jquery"></script>
</body>
</html>